<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Moda Elite</title>
  <link rel="stylesheet" href="/css/inicioSesion.css"/>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
  <div class="form-container">
  <img src="/img/icno1/acceso.png" alt="acceso" style="width:100px; margin-bottom:10px;">
    <h2>Iniciar sesión</h2>
    <form id="loginForm">
      <input type="email" id="correo" placeholder="Correo electrónico" required />
      <input type="password" id="password" placeholder="Contraseña" required />
      <button type="submit">Ingresar</button>
      <p>¿No tienes cuenta? <a href="/registro">Regístrate aquí</a></p>
    </form>
  </div>
  <script src="/js/inicioSesion.js"></script>
</body>
</html>
